<!-- inside app/views/home/index.html.erb -->
<%= render partial: "layouts/header" %>

<%= image_tag 'preloader.gif', alt: '', class: 'preloader' %>

<!-- Full-Wrapper-Start -->
<main class="full-wrapper" id="home-section">
  <header class="home__area v1 section__bg" style="background-image: url('images/header-bg-1.jpg')">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section__heading mb-0">
            <h5 class="section__heading-sup-title anim_top">We Enjoy providing</h5>
            <h1 class="section__heading-title anim_top">We're Ready To Keep your pet</h1>
            <div class="section__heading-desc anim_top">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa Qui officia deserunt mollit anim id est laborum.</p>
            </div></div>
            <a href="contact.html" class="primary__button anim_top">Contact Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__shape">
      <svg class="svg_element">
        <use xlink:href="#svg__element-1" />
      </svg>
    </div>
  </header>
  <!--Header-Area-End-->
  <!--About-Area-Start-->
  <section class="about__area v1 section__padding-top section__relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <figure class="about-image anim_left">
            <img src="images/about-image.png" alt="">
          </figure>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="section__heading mb-0">
            <h5 class="section__heading-sup-title anim_top">About Us</h5>
            <h2 class="section__heading-title anim_top">We are best for Your pet care</h2>
            <div class="section__heading-desc anim_top">
              <p>Em ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. em ipsum dolor sit amet.</p>
            </div>
            <ul class="check__list anim_top">
              <li><i class="ri-checkbox-circle-line"></i>Behavioral Consultation &amp; Counseling</li>
              <li><i class="ri-checkbox-circle-line"></i>Specialized Day Habilitation</li>
              <li><i class="ri-checkbox-circle-line"></i>Chicken Dog Treats Pet Supply Pet Food</li>
            </ul>
            <a href="about.html" class="primary__button anim_top">Discover More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section__shape shpae_1">
      <svg class="svg_element">
        <use xlink:href="#svg__element-2" />
      </svg>
    </div>
    <div class="section__shape shpae_2">
      <svg class="svg_element">
        <use xlink:href="#svg__element-3" />
      </svg>
    </div>
  </section>
  <!--About-Area-End-->
  <!--Service__Area-Start-->
  <section class="service__area section__padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section__heading text-center">
            <h5 class="section__heading-sup-title anim_top">Services</h5>
            <h2 class="section__heading-title anim_top">We Provide Services</h2>
          </div>
        </div>
      </div>
      <div class="row items_space">
        <div class="col-lg-4">
          <div class="service__box anim_top service__1">
            <div class="service__box-icon">
              <i class="icon-service-1"></i>
              <svg class="svg_element">
                <use xlink:href="#svg__element-4" />
              </svg>
            </div>
            <h4 class="service__box-title"><a href="single-service.html">Dog boarding</a></h4>
            <div class="service__box-desc">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
            </div>
            <div class="service__box-bg">
              <i class="icon-dog-line"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service__box anim_top service__2 active">
            <div class="service__box-icon">
              <i class="icon-service-2"></i>
              <svg class="svg_element">
                <use xlink:href="#svg__element-4" />
              </svg>
            </div>
            <h4 class="service__box-title"><a href="single-service.html">Cat boarding</a></h4>
            <div class="service__box-desc">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
            </div>
            <div class="service__box-bg">
              <i class="icon-dog-line"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service__box anim_top service__3">
            <div class="service__box-icon">
              <i class="icon-service-3"></i>
              <svg class="svg_element">
                <use xlink:href="#svg__element-4" />
              </svg>
            </div>
            <h4 class="service__box-title"><a href="single-service.html">Healthy meals</a></h4>
            <div class="service__box-desc">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
            </div>
            <div class="service__box-bg">
              <i class="icon-dog-line"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Service__Area-End-->
  <!--Counter__Area-Start-->
  <section class="counter__area section__padding section__overlay section__bg" style="background-image: url('images/counter-bg.jpg')">
    <div class="container">
      <div class="row items_space">
        <div class="col-md-3 col-sm-6">
          <div class="counter__box anim_top">
            <div class="counter__box-icon">
              <i class="icon-star-user"></i>
            </div>
            <h3 class="counter__box-number h2"><span class="count number_count">25</span>k</h3>
            <h5 class="counter__box-title">Happy Clients</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter__box anim_top">
            <div class="counter__box-icon">
              <i class="icon-hand-sheak"></i>
            </div>
            <h3 class="counter__box-number h2"><span class="count number_count">2</span>k+</h3>
            <h5 class="counter__box-title">Professionals</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter__box anim_top">
            <div class="counter__box-icon">
              <i class="icon-hand-dog"></i>
            </div>
            <h3 class="counter__box-number h2"><span class="count number_count">12</span>k</h3>
            <h5 class="counter__box-title">Adopted Pets</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter__box anim_top">
            <div class="counter__box-icon">
              <i class="icon-award"></i>
            </div>
            <h3 class="counter__box-number h2"><span class="count number_count">103</span>+</h3>
            <h5 class="counter__box-title">National Award</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="section__shape">
      <svg class="svg_element">
        <use xlink:href="#svg__element-1" />
      </svg>
    </div>
  </section>
  <!--Counter__Area-End-->
  <!--Check__Area-Start-->
  <section class="check__area section__padding gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <figure class="check__image anim_left">
            <img src="images/check-image.png" alt="">
            <svg class="svg_element">
              <use xlink:href="#svg__element-5" />
            </svg>
          </figure>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="section__heading mb-5">
            <h5 class="section__heading-sup-title anim_top">Check in time</h5>
            <h2 class="section__heading-title anim_top">We keep happy Them</h2>
            <div class="section__heading-desc anim_top">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
            </div>
          </div>
          <div class="feature__box anim_top mb-4 secondary_color">
            <div class="feature__box-icon">
              <i class="icon-clock"></i>
              <svg class="svg_element">
                <use xlink:href="#svg__element-4" />
              </svg>
            </div>
            <h5 class="feature__box-title">From 9 AM to 9 PM</h5>
            <div class="feature__box-desc">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
            </div>
          </div>
          <div class="feature__box anim_top">
            <div class="feature__box-icon">
              <i class="icon-headphone"></i>
              <svg class="svg_element">
                <use xlink:href="#svg__element-4" />
              </svg>
            </div>
            <h5 class="feature__box-title">Emergency services</h5>
            <div class="feature__box-desc">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__shape">
      <svg class="svg_element">
        <use xlink:href="#svg__element-6" />
      </svg>
    </div>
  </section>
  <!--Check__Area-End-->
  <!--Testimonial_Area-Start-->
  <section class="testimonial__area section__padding-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section__heading pb-5 mb-n3  text-center text-lg-left">
            <h5 class="section__heading-sup-title anim_top">Testimonial</h5>
            <h2 class="section__heading-title anim_top">Client happy With Us</h2>
            <div class="section__heading-desc anim_top">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
            </div>
          </div>
          <div class="slider__arrows anim_top justify-content-lg-start justify-content-center mb-4 mb-lg-0" id="testimonial-arrow">
            <button class="slider__arrow arrow_prev"><i class="icon-arrow-left"></i></button>
            <button class="slider__arrow arrow_next"><i class="icon-arrow-right"></i></button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="swiper-container testimonial_slider anim_right">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial__box">
                  <div class="testimonial__box-image">
                    <img src="images/testi-1.jpg" alt="">
                  </div>
                  <div class="testimonial__box-quote">
                    <i class="icon-quote"></i>
                  </div>
                  <div class="testimonial__box-desc">
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Excepteur sint occaecat cupidatat non proident, sunt in culpa </p>
                  </div>
                  <h5 class="testimonial__box-name">Agnes C Brewer</h5>
                  <h6 class="testimonial__box-position">CEO of LLC</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial__box">
                  <div class="testimonial__box-image">
                    <img src="images/testi-2.jpg" alt="">
                  </div>
                  <div class="testimonial__box-quote">
                    <i class="icon-quote"></i>
                  </div>
                  <div class="testimonial__box-desc">
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Excepteur sint occaecat cupidatat non proident, sunt in culpa </p>
                  </div>
                  <h5 class="testimonial__box-name">John R Bennett</h5>
                  <h6 class="testimonial__box-position">CEO of TTM</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial__box">
                  <div class="testimonial__box-image">
                    <img src="images/testi-3.jpg" alt="">
                  </div>
                  <div class="testimonial__box-quote">
                    <i class="icon-quote"></i>
                  </div>
                  <div class="testimonial__box-desc">
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Excepteur sint occaecat cupidatat non proident, sunt in culpa </p>
                  </div>
                  <h5 class="testimonial__box-name">Beatrice R Clark</h5>
                  <h6 class="testimonial__box-position">CEO of KKR</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="testimonial__box">
                  <div class="testimonial__box-image">
                    <img src="images/testi-4.jpg" alt="">
                  </div>
                  <div class="testimonial__box-quote">
                    <i class="icon-quote"></i>
                  </div>
                  <div class="testimonial__box-desc">
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Excepteur sint occaecat cupidatat non proident, sunt in culpa </p>
                  </div>
                  <h5 class="testimonial__box-name">Elvia E Arruda</h5>
                  <h6 class="testimonial__box-position">CEO of BBC</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonial_Area-End-->
  <!--Team__Area-Start-->
  <section class="team__area section__padding-top section__relative">
    <div class="section__shape">
      <svg class="svg_element">
        <use xlink:href="#svg__element-7" />
      </svg>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section__heading text-center">
            <h5 class="section__heading-sup-title anim_top">Exprt Team</h5>
            <h2 class="section__heading-title anim_top">Meet the Exprt Team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="swiper-container team_slider anim_top">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="team__box">
                  <div class="team__box-image">
                    <img src="images/team-1.jpg" alt="">
                  </div>
                  <h5 class="team__box-name"><a href="single-team.html">Agnes C Brewer</a></h5>
                  <h6 class="team__box-position">Dog Walker</h6>
                  <div class="social__links">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team__box">
                  <div class="team__box-image">
                    <img src="images/team-2.jpg" alt="">
                  </div>
                  <h5 class="team__box-name"><a href="single-team.html">Lorie J Yates</a></h5>
                  <h6 class="team__box-position">Pet Sitter</h6>
                  <div class="social__links">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team__box">
                  <div class="team__box-image">
                    <img src="images/team-3.jpg" alt="">
                  </div>
                  <h5 class="team__box-name"><a href="single-team.html">Steven R Luna</a></h5>
                  <h6 class="team__box-position">Dog Walker</h6>
                  <div class="social__links">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team__box">
                  <div class="team__box-image">
                    <img src="images/team-4.jpg" alt="">
                  </div>
                  <h5 class="team__box-name"><a href="single-team.html">Floy R Davis</a></h5>
                  <h6 class="team__box-position">Pet Sitter</h6>
                  <div class="social__links">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team__box">
                  <div class="team__box-image">
                    <img src="images/team-5.jpg" alt="">
                  </div>
                  <h5 class="team__box-name"><a href="single-team.html">Willard C Hein</a></h5>
                  <h6 class="team__box-position">Fouder Of CEO</h6>
                  <div class="social__links">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Team__Area-End-->
  <!--Price__Area-Start-->
  <svg width="0px" height="0px" viewBox="0 0 769 446" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="price-masked-image">
        <path d="M156.31 139.503C138.049 159.204 110.163 170.392 82.7713 175.013C67.7181 177.688 51.4311 178.418 37.6118 172.337C21.078 165.041 10.2199 148.502 5.53124 131.477C-2.11873 103.993 -3.3526 68.2405 11.7006 43.1892C25.0263 20.57 49.2101 4.51769 75.3681 0.869431C108.189 -3.75169 139.036 10.3549 158.531 35.8927C172.35 54.134 179.753 76.5099 176.052 99.3723C173.584 115.425 166.427 128.558 156.31 139.503Z" fill="currentColor" />
      </clipPath>
    </defs>
  </svg>
  <section class="price__area section__padding-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section__heading text-center text-lg-left">
            <h5 class="section__heading-sup-title anim_top">Pricing Plan</h5>
            <h2 class="section__heading-title anim_top">Best Pricing plan</h2>
          </div>
        </div>
        <div class="col-lg-6 d-flex anim_right justify-content-center justify-content-lg-end">
          <div class="price_toggle mb-5"></div>
        </div>
      </div>
      <div class="swiper-container price_slider anim_top">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-name="Monthly">
            <div class="row items_space">
              <div class="col-lg-4">
                <div class="price_box">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-1.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Basic <span class="amount">/ $109</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-close-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="price_box active">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-2.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Standard <span class="amount">/ $189</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-close-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="price_box">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-3.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Premium<span class="amount"> / $529</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-checkbox-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-name="Yearly">
            <div class="row items_space">
              <div class="col-lg-4">
                <div class="price_box">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-1.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Basic <span class="amount">/ $109</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-close-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="price_box active">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-2.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Basic <span class="amount">/ $109</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-close-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-close-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="price_box">
                  <div class="price_box-image">
                    <figure class="thumb">
                      <img src="images/price-3.jpg" alt="">
                    </figure>
                    <svg class="svg_element">
                      <use xlink:href="#svg__element-8" />
                    </svg>
                  </div>
                  <h4 class="price_box-title">Basic <span class="amount">/ $109</span></h4>
                  <ul class="check__list">
                    <li><i class="ri-checkbox-circle-line"></i>Pet Shower</li>
                    <li><i class="ri-checkbox-circle-line"></i>Health Check up</li>
                    <li><i class="ri-checkbox-circle-line"></i>Pet Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Grooming</li>
                    <li><i class="ri-checkbox-circle-line"></i>Spa and Hair And Nail Cut</li>
                    <li><i class="ri-checkbox-circle-line"></i>Brush &amp; Blow Dry</li>
                  </ul>
                  <a href="contact.html" class="primary__button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Price__Area-End-->
  <!--posts__Area-Start-->
  <section class="posts__area section__padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section__heading text-center">
            <h5 class="section__heading-sup-title anim_top">Posts Petcare</h5>
            <h2 class="section__heading-title anim_top">Everyday update here About petcate</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="swiper-container posts_slider anim_top">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="posts_box">
                  <figure class="posts_box-thumb">
                    <img src="images/blog-2.jpg" alt="">
                  </figure>
                  <div class="posts_box-details">
                    <ul class="meta_list">
                      <li>
                        <span class="icon"><span class="ri-user-3-line"></span></span>
                        <span class="value">By John Smith</span>
                      </li>
                      <li>
                        <span class="icon"><span class="ri-calendar-check-line"></span></span>
                        <span class="value">6, July 2021</span>
                      </li>
                    </ul>
                    <h4 class="title"><a href="single-post.html">Fun Ways to Exercise With Your pet</a></h4>
                    <div class="desc">
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                    </div>
                    <a href="single-post.html" class="load_more">Load More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="posts_box">
                  <figure class="posts_box-thumb">
                    <img src="images/blog-3.jpg" alt="">
                  </figure>
                  <div class="posts_box-details">
                    <ul class="meta_list">
                      <li>
                        <span class="icon"><span class="ri-user-3-line"></span></span>
                        <span class="value">By John Smith</span>
                      </li>
                      <li>
                        <span class="icon"><span class="ri-calendar-check-line"></span></span>
                        <span class="value">6, July 2021</span>
                      </li>
                    </ul>
                    <h4 class="title"><a href="single-post.html">Signs Your Dog Might Have Osteoarthritis</a></h4>
                    <div class="desc">
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                    </div>
                    <a href="single-post.html" class="load_more">Load More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="posts_box">
                  <figure class="posts_box-thumb">
                    <img src="images/blog-4.jpg" alt="">
                  </figure>
                  <div class="posts_box-details">
                    <ul class="meta_list">
                      <li>
                        <span class="icon"><span class="ri-user-3-line"></span></span>
                        <span class="value">By John Smith</span>
                      </li>
                      <li>
                        <span class="icon"><span class="ri-calendar-check-line"></span></span>
                        <span class="value">6, July 2021</span>
                      </li>
                    </ul>
                    <h4 class="title"><a href="single-post.html">How to Get Pee Smell Out of Carpet?</a></h4>
                    <div class="desc">
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                    </div>
                    <a href="single-post.html" class="load_more">Load More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="posts_box">
                  <figure class="posts_box-thumb">
                    <img src="images/blog-1.jpg" alt="">
                  </figure>
                  <div class="posts_box-details">
                    <ul class="meta_list">
                      <li>
                        <span class="icon"><span class="ri-user-3-line"></span></span>
                        <span class="value">By John Smith</span>
                      </li>
                      <li>
                        <span class="icon"><span class="ri-calendar-check-line"></span></span>
                        <span class="value">6, July 2021</span>
                      </li>
                    </ul>
                    <h4 class="title"><a href="single-post.html">Easy Ways to Play with Dogs Indoors</a></h4>
                    <div class="desc">
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</p>
                    </div>
                    <a href="single-post.html" class="load_more">Load More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--posts__Area-End-->
  <%= render partial: "layouts/footer" %>
</main>
