<div class="nav__area nav__transparent" data-spy="affix" data-offset-top="197">
  <div class="container nav__row">
    <!-- nav__logo-Start -->
    <div class="nav__logo">
      <!-- Text-Logo-Markup -->
      <!--<h2 class="nav__logo-text"><a href="#">Gority</a></h2>-->
      <!-- Image-Logo-Markup -->
      <a href="index.html" class="nav__logo-image logo__light">
	<%= image_tag 'logo-light.png', alt: 'Gority'%>
      </a>
      <a href="index.html" class="nav__logo-image logo__dark">
	<%= image_tag 'logo-dark.png', alt: 'Gority'%>
      </a>
    </div>
    <!--nav__logo-End-->
    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
    <div class="nav__right" id="nav-right">
      <div class="nav__close" id="nav-close">
        <i class="ri-close-line"></i>
      </div>
      <!-- nav__menu-Start -->
      <nav class="nav__menu" id="nav-menu">
        <ul class="nav">
          <li class="current-menu-item"><a href="index.html">Home</a>
            <ul class="sub-menu">
              <li class="current-menu-item"><a href="index.html">Home V1</a></li>
              <li><a href="index-2.html">Home V2</a></li>
              <li><a href="index-3.html">Home V3</a></li>
            </ul>
          </li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a>
            <ul class="sub-menu">
              <li><a href="services.html">Services</a></li>
              <li><a href="single-service.html">Service Details</a></li>
            </ul>
          </li>
          <li><a href="posts.html">Pages</a>
            <ul class="sub-menu">
              <li><a href="team.html">Team</a>
                <ul class="sub-menu">
                  <li><a href="team.html">Team</a></li>
                  <li><a href="single-team.html">Team Details</a></li>
                </ul>
              </li>
              <li><a href="product.html">Products</a>
                <ul class="sub-menu">
                  <li><a href="product.html">Products</a></li>
                  <li><a href="single-product.html">Product Details</a></li>
                </ul>
              </li>
              <li><a href="gallery.html">Gallery</a></li>
            </ul>
          </li>
          <li><a href="posts.html">Posts</a>
            <ul class="sub-menu">
              <li><a href="posts.html">Posts</a></li>
              <li><a href="posts-left-sidebar.html">Left Sidebar</a></li>
              <li><a href="posts-right-sidebar.html">Right Sidebar</a></li>
              <li><a href="single-post.html">Post Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- nav__menu-End -->
      <div class="nav__dark">
        <!-- Theme change button -->
        <i class="ri-moon-line change-theme" id="theme-button"></i>
      </div>

      <!-- Search-Form-Tigger-Button -->
      <div class="nav__search">
        <button class="nav__search-toggle"><i class="ri-search-line"></i></button>
        <form class="nav__search-form">
          <input type="text" placeholder="Search keyword" id="search" autocomplete="off">
          <button type="submit"><i class="ri-search-line"></i></button>
        </form>
      </div>
      <!--Action-Button-->
      <a href="contact.html" class="primary__button">Appoinment</a>
    </div>
  </div>
</div>
